p {
  color: green;
}
.box {
  background-color:rgb(16, 120, 168) ;
  width: 300px;
  height: 300px;
  border: 8px dotted  yellow;
  margin: 8px;
  display: inline-block;
  text-align: center;
  text-decoration: line-through;
}
.box2 {
  background-color:rgb(16, 16, 168) ;
  width: 300px;
  height: 300px;
  border: 10px solid;
  padding: 10px ;
  display: inline-block;
}
.box3{
  background-color:rgb(16, 120, 168) ;
  width: 300px;
  height: 300px;
  display: inline-block;
  border: 5px solid ;
  margin: 10px;
}
.box4{
  background-color: blue;
  display: flex;
  flex-direction: row;
  /* width:50%; */
  flex-wrap:wrap;
  /* overflow:scroll; */
  /* justify-content:center; */
  align-items:baseline;
  gap: 24px;
  height: 900px;

}
.box4>div{
  width:150px;
  height: 150px;
  border: 10px solid black;
  /* background-color: aqua; */
  /* margin: 12px; */
  color: white;
  text-align: center;
}