.flex-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box {
  width: 200px;
  height: 200px;
  background-color: blue;
  translate: 10px 10px;
  transition-duration: 2s;
  animation-name: example;
  animation-duration: 5s;
  /* animation-iteration-count: infinite; */
  /* transform: rotate(30deg) skew(30deg,30deg) scale(2,0.5) translate(200px, 800px ); */
  /* transition-delay: 2s; */
  /* transition-property: translate;
    transition: all 2s 2s ease-in; */
}

@media screen and (max-width: 700px) {
  .box {
    width: 400px;
    height: 400px;
    transition-duration: 2s;
  }
}
/* @keyframes example {
  0% {
    transform: scale(0.4);
  }
  50% {
    background-color: aqua;
  }
  100% {
    transform: scale(2);
  }
} */
.box:hover{
    background-color: whitesmoke;
    box-shadow: 0 0 10px gray;
    transition-duration: 1s;
}